
/*start global*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    overflow: hidden;
}

/**************************************************************/

/*  eman  */

/**************************************************************/


/**************************************************************/

/*  mariam  */

/**************************************************************/


/**************************************************************/

/* mohamed */

/**************************************************************/


/**************************************************************/

/*  lamiaa  */
/**************************************************************/





